:root {
  --mainColor: #325aaf;
  --green: #32a9af;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.quiz-wrapper {
  width: 450px;
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor);
  border-top-left-radius: 1.2rem;
  border-top-right-radius: 1.2rem;
  padding: 0.63rem;
}

.header-title {
  color: #fff;
  line-height: 1;
  margin: 0;
}

/* CONTENT */

.quiz-body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border-bottom-left-radius: 1.2rem;
  border-bottom-right-radius: 1.2rem;
  border: 0.31rem solid var(--mainColor);
  height: 400px;
  padding: 15px 30px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.menu label {
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.menu input {
  width: 200px;
  height: 35px;
  font-size: 15px;
  border: 3px solid var(--mainColor);
  padding: 0 5px;
}

.menu input:focus {
  outline-color: var(--green);
}

.menu button {
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border: 1px solid var(--mainColor);
  background: var(--mainColor);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.menu button:hover {
  background-color: var(--green);
}

.options {
  /* width: 150px; */
  display: grid;
  gap: 15px;
}

.options button {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--green);
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.options button:hover,
.options button:focus,
.options button:active {
  color: #fff;
  background-color: var(--green);
}

.submit-btn {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background-color: var(--mainColor);
  border: 0;
  padding: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--green);
}

.end-screen {
  text-align: center;
}

.end-screen h1 {
  margin: 0 0 30px;
}

.end-screen h1 span {
  color: var(--green);
}

.end-screen h2 {
  font-size: 18px;
  margin: 0 0 10px;
}

.end-screen .submit-btn {
  margin-top: 30px;
}

.end-screen .submit-btn + .submit-btn {
  margin-top: 10px;
}

.submit-btn__answer {
  background-color: #1f386f;
}

.answers-item {
  display: grid;
  grid-template-columns: 150px 1fr;
  text-align: left;
}

.answers-list {
  font-size: 18px;
}

.score {
  font-size: 24px;
  font-weight: 700;
}

.questions-answer-list {
  text-align: center;
  height: 100%;
  overflow-y: auto;
  padding: 0 10px 10px 0;
}

.question-answer-item {
  margin-bottom: 15px;
}

.question-answer-item h3 {
  font-size: 16px;
  margin: 0 0 5px;
}

/* width */
.questions-answer-list::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.questions-answer-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.questions-answer-list::-webkit-scrollbar-thumb {
  background: #325aaf;
}

/* Handle on hover */
.questions-answer-list::-webkit-scrollbar-thumb:hover {
  background: #264484;
}

.error {
  text-align: center;
  color: #ef0d0d;
  margin-top: 5px;
}

.hide {
  display: none;
}
